altgraph==0.17.2
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.6.15
charset-normalizer==2.1.0
colorama==0.4.5
distlib==0.3.5
et-xmlfile==1.1.0
filelock==3.8.0
future==0.18.2
idna==3.3
keyboard==0.13.5
MouseInfo==0.1.3
mpmath==1.2.1
numpy==1.21.4
opencv-python==4.6.0.66
openpyxl==3.0.10
pandas==1.4.3
pefile==2022.5.30
Pillow==9.2.0
pipenv==2022.8.14
platformdirs==2.5.2
psutil==5.9.1
PyAutoGUI==0.9.53
pyclean==2.2.0
pygame==2.1.2
PyGetWindow==0.0.9
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.28
PySocks==1.7.1
python-dateutil==2.8.2
pytweening==1.0.4
pytz==2022.1
pywin32==304
pywin32-ctypes==0.2.0
requests==2.28.1
requests-futures==1.0.0
six==1.16.0
soupsieve==2.3.2.post1
stem==1.8.0
sympy==1.10
torrequest==0.1.0
urllib3==1.26.10
virtualenv==20.16.3
virtualenv-clone==0.5.7
windows-curses==2.3.0
